In [ ]:
import numpy as np

import pandas as pd

In [ ]:
excel = pd.read_csv('excellent.csv')
excel.head()

,Item_ID,Store_ID,Item_Store_ID,Item_Weight,Item_Sugar_Content,Item_Visibility,Item_Type,Item_Price,Store_Start_Year,Store_Size,Store_Location_Type,Store_Type,Item_Store_Returns
0,DRA12,BABATUNJI010,DRA12_BABATUNJI010,11.6,Low Sugar,0.068535,Soft Drinks,357.54,2005,NaN,Cluster 3,Grocery Store,709.08
1,DRA12,BABATUNJI013,DRA12_BABATUNJI013,11.6,Low Sugar,0.040912,Soft Drinks,355.79,1994,High,Cluster 3,Supermarket Type1,6381.69
2,DRA12,BABATUNJI017,DRA12_BABATUNJI017,11.6,Low Sugar,0.041178,Soft Drinks,350.79,2014,NaN,Cluster 2,Supermarket Type1,6381.69
3,DRA12,BABATUNJI018,DRA12_BABATUNJI018,11.6,Low Sugar,0.041113,Soft Drinks,355.04,2016,Medium,Cluster 3,Supermarket Type2,2127.23
4,DRA12,BABATUNJI035,DRA12_BABATUNJI035,11.6,Ultra Low Sugar,0.000000,Soft Drinks,354.79,2011,Small,Cluster 2,Supermarket Type1,2481.77

In [ ]:
excel.dtypes

Item_ID                 object
Store_ID                object
Item_Store_ID           object
Item_Weight            float64
Item_Sugar_Content      object
Item_Visibility        float64
Item_Type               object
Item_Price             float64
Store_Start_Year         int64
Store_Size              object
Store_Location_Type     object
Store_Type              object
Item_Store_Returns     float64
dtype: object

In [ ]:
 excel.isnull().sum()

Item_ID                   0
Store_ID                  0
Item_Store_ID             0
Item_Weight             802
Item_Sugar_Content        0
Item_Visibility           0
Item_Type                 0
Item_Price                0
Store_Start_Year          0
Store_Size             1450
Store_Location_Type       0
Store_Type                0
Item_Store_Returns        0
dtype: int64

In [ ]:
excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4990 entries, 0 to 4989
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Item_ID              4990 non-null   object
 1   Store_ID             4990 non-null   object
 2   Item_Store_ID        4990 non-null   object
 3   Item_Weight          4188 non-null   float64
 4   Item_Sugar_Content   4990 non-null   object
 5   Item_Visibility      4990 non-null   float64
 6   Item_Type            4990 non-null   object
 7   Item_Price           4990 non-null   float64
 8   Store_Start_Year     4990 non-null   int64
 9   Store_Size           3540 non-null   object
 10  Store_Location_Type  4990 non-null   object
 11  Store_Type           4990 non-null   object
 12  Item_Store_Returns   4990 non-null   float64
dtypes: float64(4), int64(1), object(8)
memory usage: 506.9+ KB

In [ ]:
excel['Item_Weight'].fillna(value = round(excel['Item_Weight'].mean(), 1), inplace=True)

In [ ]:
  excel['Store_Size'].fillna(value=excel['Store_Size'].mode()[0], inplace=True)

In [ ]:
excel.isnull().sum()

Item_ID                0
Store_ID               0
Item_Store_ID          0
Item_Weight            0
Item_Sugar_Content     0
Item_Visibility        0
Item_Type              0
Item_Price             0
Store_Start_Year       0
Store_Size             0
Store_Location_Type    0
Store_Type             0
Item_Store_Returns     0
dtype: int64

In [ ]:
excel['profit_index'] = excel['Item_Store_Returns'] - excel['Item_Price']
excel.head()

,Item_ID,Store_ID,Item_Store_ID,Item_Weight,Item_Sugar_Content,Item_Visibility,Item_Type,Item_Price,Store_Start_Year,Store_Size,Store_Location_Type,Store_Type,Item_Store_Returns,profit_index
0,DRA12,BABATUNJI010,DRA12_BABATUNJI010,11.6,Low Sugar,0.068535,Soft Drinks,357.54,2005,Medium,Cluster 3,Grocery Store,709.08,351.54
1,DRA12,BABATUNJI013,DRA12_BABATUNJI013,11.6,Low Sugar,0.040912,Soft Drinks,355.79,1994,High,Cluster 3,Supermarket Type1,6381.69,6025.90
2,DRA12,BABATUNJI017,DRA12_BABATUNJI017,11.6,Low Sugar,0.041178,Soft Drinks,350.79,2014,Medium,Cluster 2,Supermarket Type1,6381.69,6030.90
3,DRA12,BABATUNJI018,DRA12_BABATUNJI018,11.6,Low Sugar,0.041113,Soft Drinks,355.04,2016,Medium,Cluster 3,Supermarket Type2,2127.23,1772.19
4,DRA12,BABATUNJI035,DRA12_BABATUNJI035,11.6,Ultra Low Sugar,0.000000,Soft Drinks,354.79,2011,Small,Cluster 2,Supermarket Type1,2481.77,2126.98

In [ ]:
stores =excel['Store_ID'].nunique()
location = excel['Store_Location_Type'].nunique()
print("The Excellent Store comprises of", stores, "different stores, each spread across", location, " different cluster locations")

The Excellent Store comprises of 10 different stores, each spread across 3  different cluster locations

In [ ]:
#Below is a breakdown of the total profits from each cluster
Clust = excel.groupby('Store_Location_Type')['profit_index'].sum()
print(Clust)

print('The highest profit making cluster is', Clust.idxmax())

Store_Location_Type
Cluster 1     6674914.28
Cluster 2    11273169.03
Cluster 3    10553381.37
Name: profit_index, dtype: float64
The highest profit making cluster is Cluster 2

In [ ]:
# All stores and their profit index
print(excel.groupby('Store_ID')['profit_index'].sum().round(2))

Store_ID
BABATUNJI010     136404.22
BABATUNJI013    2255853.43
BABATUNJI017    4110849.15
BABATUNJI018    2577461.07
BABATUNJI019     208344.10
BABATUNJI027    5583662.65
BABATUNJI035    3821551.36
BABATUNJI045    3340768.52
BABATUNJI046    2764376.52
BABATUNJI049    3702193.66
Name: profit_index, dtype: float64

In [ ]:
 print(excel.groupby('Store_ID')['Store_Type'].describe())
 print(excel.groupby('Store_ID')['Store_Location_Type'].describe())

             count unique                top freq
Store_ID
BABATUNJI010   384      1      Grocery Store  384
BABATUNJI013   594      1  Supermarket Type1  594
BABATUNJI017   583      1  Supermarket Type1  583
BABATUNJI018   500      1  Supermarket Type2  500
BABATUNJI019   340      1      Grocery Store  340
BABATUNJI027   462      1  Supermarket Type3  462
BABATUNJI035   515      1  Supermarket Type1  515
BABATUNJI045   483      1  Supermarket Type1  483
BABATUNJI046   509      1  Supermarket Type1  509
BABATUNJI049   620      1  Supermarket Type1  620
             count unique        top freq
Store_ID
BABATUNJI010   384      1  Cluster 3  384
BABATUNJI013   594      1  Cluster 3  594
BABATUNJI017   583      1  Cluster 2  583
BABATUNJI018   500      1  Cluster 3  500
BABATUNJI019   340      1  Cluster 1  340
BABATUNJI027   462      1  Cluster 3  462
BABATUNJI035   515      1  Cluster 2  515
BABATUNJI045   483      1  Cluster 2  483
BABATUNJI046   509      1  Cluster 1  509
BABATUNJI049   620      1  Cluster 1  620

In [ ]:
excel.groupby('Item_Type')['Item_ID'].describe()

                      count unique    top freq
Item_Type
Baking Goods            344    110  FDR48    8
Breads                  137     44  FDU23    8
Breakfast                66     19  FDK25    6
Canned                  376    110  FDY49    8
Dairy                   350    107  FDH27    8
Frozen Foods            457    141  FDI41    8
Fruits and Vegetables   747    212  FDT55    8
Hard Drinks             134     36  DRF23    8
Health and Hygiene      307     91  NCX29    8
Household               567    162  NCC18    8
Meat                    264     75  FDR15    7
Others                  100     27  NCL31    9
Seafood                  41      9  FDG33    9
Snack Foods             758    207  FDZ33    8
Soft Drinks             261     74  DRE49    9
Starchy Foods            81     27  FDE11    6

In [ ]:
#The different store types
excel['Store_Type'].unique()

array(['Grocery Store', 'Supermarket Type1', 'Supermarket Type2',
       'Supermarket Type3'], dtype=object)

In [ ]:
#item type with the highest profit index
item_max = excel.groupby('Item_Type')['profit_index'].sum().idxmax()

print('The item type that generally makes the most profit returns is', item_max)

The item type that generally makes the most profit returns is Fruits and Vegetables

In [ ]:
#store with the highest profit index 
profit =excel.groupby('Store_ID')['profit_index'].sum().idxmax()

print('The store that makes the most profit is', profit)

The store that makes the most profit is BABATUNJI027

In [ ]:
 #year store with the highest profit index was opened 
year_opened = excel[excel['Store_ID']=='BABATUNJI027']
year = year_opened['Store_Start_Year'].mode()[0]
print('BABATUNJI027 the store with the highest profit returns was opened in the year', year)

BABATUNJI027 the store with the highest profit returns was opened in the year 1992

In [ ]:
#location of store with the highest profit index
loc = excel.groupby('Store_ID')['Store_Location_Type']
loc1 =loc.describe().transpose()['BABATUNJI027']['top']
print('BABATUNJI027 the store with the highest profit returns is located in', loc1)

BABATUNJI027 the store with the highest profit returns is located in Cluster 3

In [ ]:
#type of store with the highest profit index
store = excel.groupby('Store_ID')['Store_Type']
store1 =store.describe().transpose()['BABATUNJI027']['top']
print('BABATUNJI027 the store with the highest profit returns is a', store1)

BABATUNJI027 the store with the highest profit returns is a Supermarket Type3

BREAKDOWN OF PRODUCT SALES IN EACH CLUSTER

In [ ]:
clust1 = excel[excel['Store_Location_Type'] == 'Cluster 1']
brkdwn1 = clust1.groupby('Item_Type')['profit_index'].sum().round(2)

print('below is a breakdown of profit index of all products in cluster 1\n', brkdwn1)

below is a breakdown of profit index of all products in cluster 1
 Item_Type
Baking Goods              484890.35
Breads                    164186.68
Breakfast                  78460.28
Canned                    508767.00
Dairy                     401797.81
Frozen Foods              559676.14
Fruits and Vegetables    1042231.62
Hard Drinks               171808.67
Health and Hygiene        434673.68
Household                 747692.88
Meat                      352446.39
Others                    154982.55
Seafood                    56550.76
Snack Foods              1047971.59
Soft Drinks               334466.80
Starchy Foods             134311.08
Name: profit_index, dtype: float64

In [ ]:
print("The most profitable product in Cluster 1 is", brkdwn1.idxmax())

The most profitable product in Cluster 1 is Snack Foods

In [ ]:
stores1 = clust1.groupby('Store_ID')["profit_index"].sum()
print('Below is a breakdown of store in cluster 1 and their profit margin')
print(round(stores1, 2))

Below is a breakdown of store in cluster 1 and their profit margin
Store_ID
BABATUNJI019     208344.10
BABATUNJI046    2764376.52
BABATUNJI049    3702193.66
Name: profit_index, dtype: float64

In [ ]:
clust1.groupby('Store_Start_Year')['profit_index'].sum().round(2) 
#Is there a relationship between the year the store was opened and the profit index?

Store_Start_Year
1992     208344.10
2004    2764376.52
2006    3702193.66
Name: profit_index, dtype: float64

In [ ]:
#Year each store started
clust1.groupby('Store_Start_Year')['Store_ID'].describe()

                 count unique           top freq
Store_Start_Year
1992               340      1  BABATUNJI019  340
2004               509      1  BABATUNJI046  509
2006               620      1  BABATUNJI049  620

In [ ]:
excel.groupby('Store_Start_Year')['profit_index'].sum().round(2)

Store_Start_Year
1992    5792006.75
1994    2255853.43
2004    2764376.52
2005     136404.22
2006    3702193.66
2009    3340768.52
2011    3821551.36
2014    4110849.15
2016    2577461.07
Name: profit_index, dtype: float64

In [ ]:
clust2 = excel[excel['Store_Location_Type'] == 'Cluster 2']
brkdwn2 = clust2.groupby('Item_Type')['profit_index'].sum()

print('below is a breakdown of profit index of all products in cluster 2\n')
print(round(brkdwn2, 2))

below is a breakdown of profit index of all products in cluster 2

Item_Type
Baking Goods              651315.80
Breads                    296514.37
Breakfast                 148912.81
Canned                    908212.58
Dairy                     890996.17
Frozen Foods             1089012.93
Fruits and Vegetables    1719603.22
Hard Drinks               299245.76
Health and Hygiene        557319.65
Household                1317753.46
Meat                      513740.10
Others                    203100.03
Seafood                   110502.90
Snack Foods              1725836.38
Soft Drinks               593000.13
Starchy Foods             248102.74
Name: profit_index, dtype: float64

In [ ]:
 print("The most profitable product in Cluster 2 is", brkdwn2.idxmax())

The most profitable product in Cluster 2 is Snack Foods

In [ ]:
stores2 = clust2.groupby('Store_ID')["profit_index"].sum()
print('Below is a breakdown of store in cluster 2 and their profit margin')
print(round(stores2, 2))

Below is a breakdown of store in cluster 2 and their profit margin
Store_ID
BABATUNJI017    4110849.15
BABATUNJI035    3821551.36
BABATUNJI045    3340768.52
Name: profit_index, dtype: float64

In [ ]:
 clust2.groupby('Store_Start_Year')['profit_index'].sum().round(2) 
#Is there a relationship between the year the store was opened and the profit index?

Store_Start_Year
2009    3340768.52
2011    3821551.36
2014    4110849.15
Name: profit_index, dtype: float64

In [ ]:
#Year each store started
clust2.groupby('Store_Start_Year')['Store_ID'].describe()

                 count unique           top freq
Store_Start_Year
2009               483      1  BABATUNJI045  483
2011               515      1  BABATUNJI035  515
2014               583      1  BABATUNJI017  583

In [ ]:
clust3 = excel[excel['Store_Location_Type'] == 'Cluster 3']
brkdwn3 = clust3.groupby('Item_Type')['profit_index'].sum()

print('below is a breakdown of profit index of all products in cluster 3\n')
print(round(brkdwn3, 2))

below is a breakdown of profit index of all products in cluster 3

Item_Type
Baking Goods              682412.96
Breads                    320218.67
Breakfast                 150215.16
Canned                    769814.88
Dairy                     736984.29
Frozen Foods              924878.37
Fruits and Vegetables    1694354.51
Hard Drinks               283565.13
Health and Hygiene        552501.76
Household                1196466.42
Meat                      636766.36
Others                    159390.90
Seafood                    79024.74
Snack Foods              1670838.19
Soft Drinks               544595.62
Starchy Foods             151353.41
Name: profit_index, dtype: float64

In [ ]:
 print("The most profitable product in Cluster 3 is", brkdwn3.idxmax())

The most profitable product in Cluster 3 is Fruits and Vegetables

In [ ]:
stores3 = clust3.groupby('Store_ID')["profit_index"].sum()
print('Below is a breakdown of store in cluster 3 and their profit margin')
print(round(stores3, 2))

Below is a breakdown of store in cluster 3 and their profit margin
Store_ID
BABATUNJI010     136404.22
BABATUNJI013    2255853.43
BABATUNJI018    2577461.07
BABATUNJI027    5583662.65
Name: profit_index, dtype: float64

In [ ]:
clust3.groupby('Store_Start_Year')['profit_index'].sum().round(2) 
#Is there a relationship between the year the store was opened and the profit index?

Store_Start_Year
1992    5583662.65
1994    2255853.43
2005     136404.22
2016    2577461.07
Name: profit_index, dtype: float64

In [ ]:
#Year each store started
clust3.groupby('Store_Start_Year')['Store_ID'].describe()

                 count unique           top freq
Store_Start_Year
1992               462      1  BABATUNJI027  462
1994               594      1  BABATUNJI013  594
2005               384      1  BABATUNJI010  384
2016               500      1  BABATUNJI018  500

A BREAKDOWN OF ALL PRODUCTS IN THE MOST PROFITABLE STORE

In [ ]:
b027 =excel[excel['Store_ID'] == 'BABATUNJI027']
babamax =b027.groupby('Item_Type')['profit_index'].sum().round(2)
print(babamax)

Item_Type
Baking Goods             317049.40
Breads                   160366.64
Breakfast                100430.80
Canned                   436467.46
Dairy                    435295.00
Frozen Foods             504768.95
Fruits and Vegetables    962146.33
Hard Drinks              143859.68
Health and Hygiene       246775.65
Household                660313.27
Meat                     376935.41
Others                    39319.82
Seafood                   34531.58
Snack Foods              827103.84
Soft Drinks              251741.24
Starchy Foods             86557.58
Name: profit_index, dtype: float64

In [ ]:
print('the most profitable item in BABATUNJI027 store is', babamax.idxmax())

the most profitable item in BABATUNJI027 store is Fruits and Vegetables